*{
    margin: 0;
    padding: 0;
}
.div_bg{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}
.title{
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid silver;
    background-color:#24282C ;
    padding-left: 70px;
    padding-right: 70px;
    transition: all 0.5s;
    overflow: hidden;
    /*position: relative;*/
}
.title:hover{
    background-color:#373D41 ;
    cursor: pointer;
    height: 61px;
}
.yun{
    width: 10%;
    /*border: 1px solid silver;*/
    height: 61px;
    text-align: center;
    color: white;
    font-size: 22px;
    float: left;
}
.yun img{
    width: 60%;
    height: 40%;
    margin-top: 18px;
}
.title_left{
    width: 50%;
    /*border: 1px solid silver;*/
    height: 61px;
    float: left;
    margin-left: 30px;
}
.title-list{
    list-style: none;
    float: left;
    color: white;
    width: 10.8%;
    font-size: 15px;
    position: relative;
    /*border: 1px solid red;*/
    text-align: center;
    transition: all 0.1s;
}
.title-list:hover{
    border-bottom: 1px solid #00e0ff;
}
.title-li-info{
    display: none;
    clear: both;
    width: 100%;
    height: 549px;
    background-color: rgba(19, 23, 27, 0.97);
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 61px;
    transition: all 0.1s;
    color: white;
}
.ul-move{
    margin-top: 2%;
    margin-bottom: 2%;
    width: 12%;
    height: 90%;
    border-right: 1px solid silver;
    margin-left: 7%;
    float: left;
}
.li-move{
    width: 80%;
    height: 45px;
    list-style: none;
    /*border: 1px solid silver;*/
    line-height: 45px;
    font-size: 14px;
    padding-left: 12%;
    padding-right: 8%;
    transition: all 0.3s;
}
.title-li-info-right{
    width: 75%;
    height: 90%;
    /*border: 1px solid red;*/
    float: left;
    position: relative;
}
.contant-1{
    width: 100%;
    height: 100%;
    margin-top: 2.8%;
    margin-bottom: 3%;
    /*border: 1px solid red;*/
    float: left;
    margin-left: 2%;
    transition: all 0.1s;
    position: absolute;
    z-index: 111;
    display: none;
}
.solution-info{
    width: 85%;
    height: 100%;
    /*border: 1px solid red;*/
    margin-top: -20px;
}
.solution-list{
    width: 31%;
    height: 12%;
    /*border: 1px solid silver;*/
    float: left;
    list-style: none;
    margin-top: 20px;
    margin-right:15px;
    background-color: #3C4144;
}
.solution-list:hover,.solution-all-list:hover{
    background-color: #00c1de;
}
.solution-list:hover p,.solution-all-list:hover p{
    color: white;
}
.solution-list h3,.solution-all-list h3{
    width: 80%;
    /*display: inline-block;*/
    margin-left: 4%;
    height: 20px;;
    line-height: 20px;;
    font-size: 14px;
    /*border: 1px solid silver;*/
    margin-top: 5px;
    color: white;
}
.solution-list p,.solution-all-list p{
    width: 100%;
    /*display: inline-block;*/
    margin-left: 4%;
    margin-top: 5px;
    height: 20px;;
    line-height: 20px;;
    font-size: 10px;
    color: #777F84;
}
.solution-all{
    width: 60%;
    height: 100%;
    /*border: 1px solid silver;*/
    margin-top: -20px;
}
.solution-all-list{
    width: 44%;
    height: 12%;
    /*border: 1px solid silver;*/
    float: left;
    list-style: none;
    margin-top: 20px;
    margin-right:15px;
    background-color: #3C4144;
}
.contant-1-ul{
    width: 18%;
    height: 100%;
    border-right: 1px solid silver;
    float: left;
}
.contant-1-li{
    list-style: none;
    width: 80%;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    padding-left: 12%;
    /*border: 1px solid silver;*/
    padding-right: 8%;
    transition: all 0.3s;
}
.contant-1-li:hover{
    background-color: #00c1de;
}
.contant-1-right{
    width: 70%;
    height: 100%;
    /*border: 1px solid silver;*/
    float: left;
    margin-left: 2%;
}
.contant-1-right-li{
    list-style: none;
    width: 45%;
    height: 60px;
    line-height: 60px;
    /*border: 1px solid red;*/
    float: left;
    margin: 5px;
    background-color: #3C4144;
    transition: all 0.1s;
}
.contant-1-right-li:hover{
    background-color: #00c1de;
}
.contant-1-right-li:hover p{
    color: white;
}
.contant-1-right-li h3{
    width: 80%;
    /*display: inline-block;*/
    margin-left: 4%;
    height: 20px;;
    line-height: 20px;;
    font-size: 14px;
    /*border: 1px solid silver;*/
    margin-top: 5px;
    color: white;
}
.contant-1-right-li p{
    width: 90%;
    /*display: inline-block;*/
    margin-left: 4%;
    margin-top: 5px;
    height: 20px;;
    line-height: 20px;;
    font-size: 10px;
    color: #777F84;
    /*border: 1px solid silver;*/
}
.contant-2-ul,.contant-3-ul{
    width: 100%;
    height: 100%;
}
.contant-2-li{
    width: 25%;
    list-style: none;
    height: 100%;
    float: left;
    /*border: 1px solid silver;*/
    font-size: 15px;
    margin-top: -10px;
    color:#777F84 ;
}
.contant-3-li:first-child{
    width: 62%;
    list-style: none;
    height: 100%;
    float: left;
    /*border: 1px solid silver;*/
    font-size: 15px;;
    margin-top: -10px;
    color:#777F84 ;
}
.contant-3-li:last-child{
    width: 30%;
    list-style: none;
    height: 100%;
    float: left;
    /*border: 1px solid silver;*/
    font-size: 15px;;
    margin-top: -10px;
    color:#777F84 ;
}
.data-ul{
    width: 100%;
    height: 100%;
    margin-left: -10px;
    margin-top: -20px;
}
.safety-list{
    width: 46%;
    height: 12%;
    float: left;
    list-style: none;
    /*border: 1px solid silver;*/
    background-color: #3C4144;
    margin-top: 10px;
    transition: all 0.1s;
    margin-right: 20px;
}
.safety-list:hover,.monitor-list:hover{
    background-color: #00c1de;
}
.safety-list:hover p,.monitor-list:hover p{
    color: white;
}
.safety-list h3,.monitor-list h3{
    width: 80%;
    /*display: inline-block;*/
    margin-left: 4%;
    height: 20px;;
    line-height: 20px;;
    font-size: 14px;
    /*border: 1px solid silver;*/
    margin-top: 5px;
    color: white;
}
.safety-list p,.monitor-list p{
    width: 90%;
    /*display: inline-block;*/
    margin-left: 4%;
    margin-top: 5px;
    height: 20px;;
    line-height: 20px;;
    font-size: 10px;
    color: #777F84;
}
.monitor-list{
    width: 100%;
    height: 12%;
    list-style: none;
    /*border: 1px solid silver;*/
    background-color: #3C4144;
    margin-top: 10px;
    transition: all 0.1s;
    margin-right: 20px;
}
.data-application{
    width: 90%;
    height: 12%;
    float: left;
    list-style: none;
    /*border: 1px solid  silver;*/
    background-color: #3C4144;
    margin-top: 10px;
    transition: all 0.1s;
}
.data-application:hover{
    background-color: #00c1de;
}
.data-application:hover p{
    color: white;
}
.data-application h3{
    width: 80%;
    /*display: inline-block;*/
    margin-left: 4%;
    height: 20px;;
    line-height: 20px;;
    font-size: 14px;
    /*border: 1px solid silver;*/
    margin-top: 5px;
    color: white;
}
.data-application p{
    width: 90%;
    /*display: inline-block;*/
    margin-left: 4%;
    margin-top: 5px;
    height: 20px;;
    line-height: 20px;;
    font-size: 10px;
    color: #777F84;
}
/*.contant-4{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*margin-top: 2%;*/
    /*margin-bottom: 3%;*/
    /*/!*border: 1px solid red;*!/*/
    /*float: left;*/
    /*margin-left: 4%;*/
    /*transition: all 0.1s;*/
    /*position: absolute;*/
    /*padding: 0;*/
    /*display: none;*/
/*}*/
.contant-4-ul{
    width: 82%;
    /*border: 1px solid silver;*/
    height: 100%;
}
.contant-4-li{
    list-style: none;
    width: 31%;
    height: 40%;
    /*border: 1px solid silver;*/
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
    font-size: 15px;
}
.contant-4-info{
    width: 100%;
    height: 100%;
    margin-top: -10px;
    margin-left: -10px;
}
.contant-4-info-list{
    width: 93%;
    height: 20%;
    font-size: 13px;
    /*border: 1px solid silver;*/
    margin-bottom: 10px;
    background-color: #3C4144;
    list-style: none;
    line-height: 40px;
    padding-left: 10px;
    transition: all 0.1s;
}
.contant-4-info-list:hover,.internet:hover{
    background-color: #00c1de;
}
.internet{
    width: 42%;
    height: 20%;
    line-height: 40px;
    display: inline-block;
    padding-left: 10px;
    font-size: 13px;
    float: left;
    /*border: 1px solid silver;*/
    list-style: none;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #3C4144;
    transition: all 0.1s;
}
.market-info{
    width: 85%;
    height: 90%;
    /*border: 1px solid silver;*/
    margin: 20px auto;
}
.market-list{
    list-style: none;
    float: left;
    width: 15%;
    height: 100%;
    /*border: 1px solid red;*/
    margin-right: 20px;
    font-size: 15px;
    color: white;
    margin-top: -20px;
}
.market-list:hover{
    color: #00c1de;
}
.market-ul{
    width: 100%;
    height: 100%;
    margin-top: -20px;
}
.market-li{
    width: 90%;
    height: 8%;
    list-style: none;
    margin-top: 10px;
    /*border: 1px solid red;*/
    margin-left: -20px;
    background-color: #373D41;
    transition: all 0.1s;
    color: white;
    padding-left: 20px;
    line-height: 40px;
    font-size: 13px;
}
.market-li:hover{
    background-color: #00c1de;
}
.btn-up{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    /*border: 1px solid silver;*/
    font-size: xx-large;
    position:absolute;
    top: 94%;
    left: 50%;
    color:#84878A ;
}
.btn-up:hover{
    color: white;
}
/*.li-move:hover{*/
    /*background-color: #00c1de;*/
/*}*/
.title_right{
    width: 14%;
    height: 60px;
    float: left;
    /*border: 1px solid silver;*/
    margin-left: 40px;
}
.title_right li{
    list-style: none;
    float: left;
    color: white;
    margin-left: 20px;
    font-size: 15px;
}
.title_right li:hover{
    color: #00d1ef;
}
.register{
    width: 9%;
    height: 62px;
    background-color: #00d1ef;
    float: left;
    text-align: center;
    color: white;
    font-size: 15px ;
}


.picture{
    width: 100%;
    height: 550px;
    border-bottom: 1px solid silver;
    position: relative;
}
.picture:hover{
    cursor: pointer;
}
.picture img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}
.div_symbol {
    width: 100%;
    position: absolute;
    z-index: 111;
    margin-top: 250px;
    /*border: 1px solid saddlebrown;*/
}

.div_span {
    font-size: 35px;
    font-weight: bolder;
    background-color: rgba(174, 174, 174, 0.42);
}

.div_span:hover {
    background-color: rgba(70, 70, 70, 0.74);
}

.div_dian {
    width: 300px;
    height: 20px;
    position: absolute;
    z-index: 112;
    margin-top: 520px;
    margin-left: 580px;
}

.div_sign {
    width: 30px;
    height: 5px;
    float: left;
    background-color: white;
    /*border-radius: 50%;*/
    margin-left: 30px;
}
.cloud{
    width: 100%;
    height: 140px;
    padding-left: 110px;
    padding-right: 110px;
    background-color: #D7D7D8;
}
.cloud_piece{
    float: left;
    width: 16.8%;
    height: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    /*border: 1px solid red;*/
}
.div_1{
    float: left;
    width: 80px;
    height: 80px;
    /*border: 1px solid silver;*/
    margin-top: -15px;
}
.div_1 img{
    width: 100%;
    height: 100%;
}
.cloud_piece:hover{
    cursor: pointer;
}
.p_1{
    font-weight: bolder;
    font-size: 17px;
    color: #373D41;
    margin-left: 20px;
}
.div_p{
    /*border: 1px solid silver;*/
    width: 60%;
    height: 60px;
    float: left;
}
.p_1:hover{
    color:#00d1ef ;
}
.p_2{
    float: left;
    margin-left: 20px;
    font-size: 14px;
}
.index-sale{
    width: 100%;
    background-color: #F5F6F6;
    height: auto;
    overflow: hidden;
}
.index-sale-title{
    width: 40%;
    height: 180px;
    line-height: 180px;
    text-align: center;
    margin:  0 auto;
    /*border: 1px solid silver;*/
    font-size: 24px;
    font-weight: 500;
}
.y-row{
    width: 84%;
    height: 580px;
    /*border: 1px solid silver;*/
    margin: 0 auto;
    margin-bottom: 100px;
}
.card-area{
    width: 100%;
    height: 100%;
}
.card-item{
    list-style: none;
    float: left;
    width: 22%;
    height: 100%;
    border: 1px solid silver;
    position: relative;
    z-index: 3;
    transition: all 0.1s;
}

.card-area .active{
    width: 33%;
    height: 100%;
    border: 1px solid #00c1de;
    box-shadow: 0 0 20px rgba(0, 198, 226, 0.5);
    z-index: 111;
    transition: all 0.1s;
}
.card-item-top{
    width: 100%;
    height: 180px;
}
.color-1{
    background-color: #EBEBEC;
}
.color-2{
    background-color: #e7e8e8;
}
.color-3{
    background-color: #EBEBEC;
}
.color-4{
    background-color: #e7e8e8;
}

.card-area .active .card-item-top{
    width: 100%;
    height: 180px;
    background-color: #00C1DE;
    /*border: 1px solid silver;*/
}
.card-item-top-img{
    width: 55px;
    height: 55px;
    padding-top: 40px;
    margin: 0 auto;
}
.card-item-top-img img{
    width: 100%;
    height: 100%;
}
.card-item-top h1{
    text-align: center;
    font-size: 18px;
}
.card-area .active .card-item-top h1{
    text-align: center;
    font-size: 18px;
    color: white;
}
.card-item-top p{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    color: silver;
}
.card-area .active .card-item-top p{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    color: white;
}
.card-item-first{
    width: 100%;
    height: 400px;
}
.content-first-first{
    padding-top: 30px;
}
.content-first-first li{
    list-style: none;
    text-align: center;
    font-size: 18px;
    margin-top: 40px;
    color: #52575B;
}
.card-item-content{
    width: 100%;
    height: 400px;
    transition: all 0.12s;
    position: absolute;
    display: none;
}
.main-info{
    width: 85%;
    margin: 28px auto;
    height: 44%;
    border-bottom: 1px solid silver ;
}
.main-info-b{
    font-size: 22px;
}
.main-info-m{
    font-size: 15px;
    margin-top: 10px;
    color: #b7b7b7;
}
.main-info-btn{
    margin-top: 30px;
    width: 100px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #00C1DE ;
    font-size: 15px;
    color: #00c1de;
}
.main-info-btn:hover{
    background-color: #00c1de;
    color: white;
    cursor: pointer;
}
.other-info{
    width: 85%;
    height: 50%;
    margin: 20px auto;
}
.other-info-list{
    width: 50%;
    height: 40%;
    list-style: none;
    float: left;
}
.no-effect{
    font-size: 15px;
    color: #373D41;
    cursor: pointer;
}
.other-desc{
    font-size: 12px;
    color: #b7b7b7;
    margin-top: 5px;
}
.list-context{
    font-size: 12px;
    color: #00d1ef;
    margin-top: 5px;
    cursor: pointer;
}
.series{
    width: 100%;
    height: auto;
    overflow: hidden;
    /*border: 1px solid silver;*/
}
.series-top{
    width: 40%;
    height: 160px;
    line-height: 160px;
    text-align: center;
    margin:  0 auto;
    /*border: 1px solid silver;*/
    font-size: 23px;
    font-weight: 500;
}
.series-center{
    width: 86%;
    height: 250px;
    margin: 0 auto;
    /*border: 1px solid silver;*/
    margin-bottom: 80px;
}
.center-content{
    width: 28%;
    height: 100%;
    /*border: 1px solid red;*/
    float: left;
    margin-left: 50px;
}
.center-picture{
    width: 30%;
    height: 35%;
    margin: 0 auto;
    /*border: 1px solid silver;*/
}
.center-picture img{
    width: 100%;
    height: 100%;
}
.center-text{
    width: 80%;
    margin: 0 auto;
    height: 30px;
    line-height: 30px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    /*border: 1px solid silver;*/
    margin-top: 10px;
    margin-bottom: 10px;
    color: #373D41;
}
.text{
    width: 76%;
    margin: 0 auto;
    height: 70px;
    text-align: center;
    font-size: 14px;
    /*border: 1px solid silver;*/
    color: #A9B0B4;
}
.addr{
    width: 80%;
    margin: 0 auto;
    height: 30px;
    /*border: 1px solid silver;*/
}
.addr-a{
    font-size: 14px;
    color: #00c1de;
    margin-right: 21px;
}
.addr-a:hover{
    cursor: pointer;
    border-bottom: 1px solid #00d1ef;
}
.scheme{
    width: 100%;
    height: 415px;
    border: 1px solid silver;
    margin-bottom: 100px;
    overflow: hidden;
}
.scheme-ul{
    width: 100%;
    height: 100%;
}
.scheme-info{
    width: 20%;
    height: 100%;
    /*border: 1px solid red;*/
    background-color: beige;
    list-style: none;
    float: left;
    position: relative;
}
.scheme-info img{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
}
.img-bg{
    width: 100%;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.51);
    transition: all 0.3s;
    position: absolute;
    z-index: 11;
}
.img-bg:hover{
    background-color: rgba(19, 190, 215, 0.9);
    transform: translatey(-60px);
    cursor: pointer;
}
.img-bg:hover .img-info{
    display: block;
}
.img-bg:hover .img-bg-frist{
    display: none;
}
.img-bg-img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    /*border: 1px solid silver;*/
}
.img-bg-img img{
    width: 80px;
    height: 80px;
}
.img-bg-text{
    color: white;
    font-size: 22px;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.backcolor{
    background-color: rgba(0, 0, 0, 0.68);
}
.img-info{
    width: 80%;
    margin: 0 auto;
    height: 120px;
    /*border: 1px solid silver;*/
    text-align: center;
    margin-top: 20px;
    transition: all 1s;
    display: none;
}
.img-info-text{
    color: white;
    font-size: 13px;
}
.img-info-div{
    border: 1px solid white;
    width: 50%;
    margin: 0 auto;
    height: 35px;
    line-height: 35px;
    color: white;
    margin-top: 20px;
}
.img-info-div:hover{
    background-color: white;
    color: #00e0ff;
}
.community{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #F5F5F5;
    padding-bottom: 50px;
}
.community-title {
    width: 30%;
    /*border: 1px solid silver;*/
    margin: 0 auto;
    height: 130px;
    line-height: 140px;
    font-size: 25px;
    text-align: center;
}
.community-main{
    width: 85%;
    margin:  0 auto;
    height: 300px;
    /*border: 1px solid silver;*/
}
.community-main:hover{
    cursor: pointer;
}
.main-list{
    width: 32%;
    height: 100%;
    /*border: 1px solid red;*/
    list-style: none;
    float: left;
    margin-right: 20px;
}
.main-list-image{
    width: 100%;
    height: 70%;
    border: 1px solid #C5D8DB;
    transition: all 0.3s;
}
.main-list-image:hover{
    box-shadow: 0 0.2px 0.2px  #00e0ff;
}
.main-list-image:hover .mian-img{
    width: 108%;
    height: 108%;
}
.main-list-image div{
    width: 100%;
    height: 78%;
    overflow: hidden;
    /*border: 1px solid red;*/
}
.main-list-image div img{
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}
.main-list-image p{
    width: 100%;
    height: 21%;
    margin-top: 12px;
    margin-left: 30px;
    font-size: 15px;
    color: #373D41;
}
.main-list-text{
    width: 100%;
    height: 28%;
    /*border: 1px solid silver;*/
    padding-top: 20px;
}
.main-list-text p{
     font-size: 14px;
     margin-top: 5px;
}
.main-list-text p:hover{
    color: #00e0ff;
}
.login{
    width: 100%;
    height: 200px;
    background-color: #00C1DE;
}
.login-info{
    width: 50%;
    height: 100px;
    /*border: 1px solid silver;*/
    text-align: center;
    margin: 0 auto;
    padding-top: 60px;
}
.info-text{
    font-size: 23px;
    color: white;
}
.info-btn{
    width: 120px;
    margin:  0 auto;
    margin-top: 20px;
    border: 1px solid white;
    height: 30px;
    line-height: 30px;
    color: white;
}
.info-btn:hover{
    background-color: white;
    color: #00e0ff;
    cursor: pointer;
}
.information{
    width: 100%;
    height: 550px;
    background-color: #373D41;
}
.information-top{
    width: 84%;
    margin:  0 auto;
    height: 45%;
    border-bottom: 1px solid #4B5054;
    padding-top: 30px;
    padding-bottom: 30px;
}
.information-top-left{
    width: 28%;
    height: 100%;
    /*line-height: 90%;*/
    border-right: 1px solid #4B5054;
    float: left;
}
.information-img{
    width: 100%;
    height: 20%;
}
.information-img img{
    width: 15%;
    height: 70%;
    float: left;
}
.information-img div{
    float: left;
    margin-left: 40px;
}
.information-text{
    width: 100%;
    height: 60%;
    /*border: 1px solid silver;*/
    margin-top: 20px;
}
.information-text li{
    list-style: none;
    color: #929698;
    margin-left: 90px;
    font-size: 13px;
    margin-top: 15px;
}
.information-text li:hover{
    color: #00e0ff;
    cursor: pointer;
}
.specific{
    width: 66%;
    height: 100%;
    /*border: 1px solid red;*/
    float: left;
    margin-left: 50px;
}
.specific-list{
    width: 145px;
    text-align: center;
    /*border: 1px solid silver;*/
    list-style: none;
    float: left;
    color: #D7D8D9;
    font-size: 13px;
}
.ul_list{
    width:100%;
    /*border: 1px solid silver;*/
}
.li_list{
    list-style: none;
    text-align: left;
    margin-left: 44px;
    margin-top: 12px;
    font-size: 12px;
    color: #949799;
}
.li_list:hover{
    cursor: pointer;
    color: #00e0ff;
}
.information-bottom{
    width: 84%;
    margin:  0 auto;
    height: 55%;
    padding-top: 30px;
}